@page
@using Domain.Entities;
@using Web.Pages.Kios;
@model CreateModel
@{
    ViewData["Title"] = "Tambah Kios";
}
<h3>@ViewData["Title"]</h3>
<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Kios.Label"></label>
        <input type="text" class="form-control" asp-for="@Model.Kios.Label" />
        <span class="text-danger" asp-validation-for="@Model.Kios.Label"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Kios.Tipe"></label>
        <select class="form-select" asp-for="@Model.Kios.Tipe" asp-items="@Html.GetEnumSelectList<TipeKios>()">
            <option value="">- Pilih Tipe -</option>
        </select>
        <span class="text-danger" asp-validation-for="@Model.Kios.Tipe"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Kios.Luas"></label>
        <input type="number" class="form-control" min="0" asp-for="@Model.Kios.Luas" />
        <span class="text-danger" asp-validation-for="@Model.Kios.Luas"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Kios.Lantai"></label>
        <input class="form-control" min="0" asp-for="@Model.Kios.Lantai" type="number" />
        <span class="text-danger" asp-validation-for="@Model.Kios.Lantai"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="@Model.Kios.Harga"></label>
        <input type="number" class="form-control" min="0" asp-for="@Model.Kios.Harga" />
        <span class="text-danger" asp-validation-for="@Model.Kios.Harga"></span>
    </div>
    <button class="btn btn-secondary">Tambah</button>
</form>
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}