@using Domain.Entities;
@using Web.Pages.ViewModels;
@model PenyewaViewModel;
@{
    ViewData["Title"] = "Tambah Penyewa";
}
<h3>@ViewData["Title"]</h3>
@using (Html.BeginForm("CreatePost", "Penyewa", FormMethod.Post))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.NIK, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.NIK, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.NIK, "", new { @class ="text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.NamaLengkap, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.NamaLengkap, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.NamaLengkap, "", new { @class ="text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.TempatLahir, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.TempatLahir, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.TempatLahir, "", new { @class ="text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.JenisKelamin, new { @class = "form-label" })
        @Html.DropDownListFor(model => model.JenisKelamin, Html.GetEnumSelectList<JenisKelamin>(), new { @class = "form-select" })
        @Html.ValidationMessageFor(model => model.JenisKelamin, "", new { @class ="text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Domisili, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Domisili, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.Domisili, "", new { @class ="text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Kota, new { @class = "form-label" })
        @Html.TextBoxFor(model => model.Kota, new { @class="form-control" })
        @Html.ValidationMessageFor(model => model.Kota, "", new { @class ="text-danger" })
    </div>
    <button class="btn btn-secondary">Tambah</button>
}